.onlineSection{
	width: calc(20% - 2px);
	float: left;
	border-right:1px solid #E6E6E6;
	background-color: #FFF;
    z-index: 1;
    height: calc(100vh - 114px);
    overflow-y: scroll;
    overflow-x: hidden;
	position: relative;
	border-left: 1px solid lightgray;
}
.onlineSection ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.onlineSection ul li{
	padding: 15px 15px;
    cursor: pointer;
}

.onlineSection ul > div {
	border-radius: 0px;
    border-bottom: 1px solid #ececec;
}
.onlineSection ul li.active{
	background: #009EF7;
	color: #fff;
	position: relative;
}
.mCustomScrollBox, .mCSB_container{
	overflow: unset !important;
}
.onlineSection ul li.active .desc .time{
	color: #fff;
}
.onlineSection ul li.active:before{
	position: absolute;
	content: '';
	right: -10px;
	border:5px solid #009EF7;
	top: 0px;
	bottom: 0px;
	border-radius: 0px 3px 3px 0px;
}
.onlineSection ul li.active:after{
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0px;
  left: auto;
  width: 100%;
  top: 0px;
  -webkit-box-shadow: -4px 2px 12px #999999;
  -moz-box-shadow: -4px 2px 12px #999999;
  box-shadow: -4px 2px 12px #999999;
}

.onlineSection ul button {
    top: -19px;
    overflow: hidden;
    padding-bottom: 0;
    position: sticky;
    float: left;
    position: relative;
}

.onlineSection .chatList{
	overflow: hidden;
}
.onlineSection .chatList .img{
	width: 60px;
	float: left;
	text-align: center;
	position: relative;
}
.onlineSection .chatList .img img{
	width: 30px;
	border-radius: 50%;
}
.onlineSection .chatList .img .fa-circle{
	position: absolute;
	font-size: 10px;
	color: #52E2A7;
	border:1px solid #fff;
	border-radius: 50%;
	left: 10px;
}
.onlineSection .chatList .desc{
	width: calc(100% - 60px);
	float: left;
	position: relative;
}
.onlineSection .chatList .desc h5{
	margin-top: 6px;
	line-height: 5px;
}
.onlineSection .chatList .desc .time{
	position: absolute;
	right: 15px;
	color: #c1c1c1;
}