.nav-section > ul{
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    padding: 20px;
}
.nav-section > ul > li {
    float: left;
    padding: 5px;
    font-size: 20px;
}